body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    font-weight: bold;

}

h3 {
    font-size: 30px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 200px;
}

.first-part {
    width: 90%;
    padding-left: 5%;
    text-align: justify;
    border-top: 80px;
    margin-top: 100px;
    margin-right: 50px;


}

.first-part img {
    width: 100%;
    text-align: justify;
    border-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: 100px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    color: black;
    font-weight: 900;
    border-radius: 40px;
}

.part-two img {
    width: 54%;
    /*pic size*/
    padding-left: 35%;
    /*bam pas thake koto tuku dure jabe*/
    text-align: justify;
    border-top: 50px;
    margin-top: 5px;
    margin-right: 70px;
    margin-bottom: 200px;
    display: flex;
}

/*second part er full background*/
.second-part {
    height: 500px;
    /*upore niche total size*/
    padding: 20px;
    background: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.first-parts {
    width: 90%;
    padding-left: 5%;
    text-align: justify;
    border-top: 80px;
    margin-top: 100px;
    margin-right: 50px;
}

.button-link {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    color: black;
    font-weight: 900;
    border-radius: 40px;
}

/*third part*/
h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.part-three p {
    text-align: center;
}

/*part four*/
.shadow-box {
    display: flex;
    margin-bottom: 200px;
}

.shadow-box img {
    max-width: 90%;
    height: 50%;
    border-radius: 5%;
    border-top: 800px;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
}

.part-four {
    width: 35%;
    height: 30%;
    text-align: justify;
    margin-left: 10%;
    margin-right: 2%;
    padding-left: 10px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5%;
    box-sizing: border-box;
}

h4 {
    width: 50%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: inline;
}